:root{
    --white: #ffffff;
    --black: #222222;
    --grey: #444444;
    --grey_light: #C8C8C8;
    --purple: #A359FF;
    --green: #75FF9C;

}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    z-index: -1;
}
li, ul{
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.container{
    max-width: 114rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}
@media only screen and (max-width: 567px){
    .container{
        padding: 0 5rem;
    }
}

.navigation{
    padding: 1.6rem 0;
}
.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: var(--black);
}

#span1{
    color: var(--purple);
}
#span2{
    color: var(--green);
}
.nav-top{
    display: none;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: 0.5rem;
}
.nav-item{
    padding: 0 2rem;
}
.nav-link{
    position: relative;
    display: inline-block;
    padding: .5rem 0 .2rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: uppercase;
    transition: all 500ms ease-in-out;
}

.nav-link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: var(--purple);
    transition: transform 500ms;
    transform: scaleX(0);
    transform-origin: center;
}

.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}
.nav-icons span:not(:last-child){
    margin-right: 1rem;
}
.nav-icons span {
    font-size: 1.6rem;
    padding: 0.3rem 0.7rem;

  }
.hamburger{
    display: none;
}

@media only screen and (max-width: 996px){
    .nav-item:not(:last-child){
        margin-right: 0.3rem;
    }
    .nav-item{
        padding: 0 0.5rem;
    }
    .nav-icons span {
        font-size: 1.2rem;
      }
}